#supremeNinja {
	width: 30%;
	height: 50%;

	
}
p {
	text-align: center;
	font-size: 17px;
}
img {

	height: 80%;
}
div {
	text-align: center;
}
.block {
	background: red;
	width: 150px;
	height: 50px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}